/*
div{
    background-color: #a1b5cb;
}
app-social{
        float: right;
        margin-top: 25px;
}
*/
#logoAP{
    width: 150px;
}
.img{
    width: 50px;
    margin-right: 0.4em
}
.btn{
    border-width: medium;
}
.sociales, .singIn{
    text-align: center;
}