<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <!-- You can now use it in app.component.html -->
        <circle-progress 
            [percent]="70"
            [imageSrc]="'../../../assets/img/icons/JavaScript.webp'" 
            [showImage]="true"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [outerStrokeWidth]="10" 
            [maxPercent]="100" 
            [radius]="100"
            [showSubtitle]="false" 
            [showUnits]="false" 
            [showTitle]="false" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <!-- You can now use it in app.component.html -->
        <circle-progress 
            [percent]="90" 
            [imageSrc]="'../../../assets/img/icons/html-5.png'" 
            [showImage]="true"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [outerStrokeWidth]="10" 
            [maxPercent]="100" 
            [radius]="100"
            [showSubtitle]="false" 
            [showUnits]="false" 
            [showTitle]="false" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <!-- You can now use it in app.component.html -->
        <circle-progress 
            [percent]="85" 
            [imageSrc]="'../../../assets/img/icons/java.png'" 
            [showImage]="true"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [outerStrokeWidth]="10" 
            [maxPercent]="100" 
            [radius]="100"
            [showSubtitle]="false" 
            [showUnits]="false" 
            [showTitle]="false" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <!-- You can now use it in app.component.html -->
        <circle-progress 
            [percent]="50" 
            [imageSrc]="'../../../assets/img/icons/css.png'" 
            [showImage]="true"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [outerStrokeWidth]="10" 
            [maxPercent]="100" 
            [radius]="100"
            [showSubtitle]="false" 
            [showUnits]="false" 
            [showTitle]="false" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <!-- You can now use it in app.component.html -->
        <circle-progress 
            [percent]="80" 
            [imageSrc]="'../../../assets/img/icons/github.png'" 
            [showImage]="true"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [outerStrokeWidth]="10" 
            [maxPercent]="100" 
            [radius]="100"
            [showSubtitle]="false" 
            [showUnits]="false" 
            [showTitle]="false" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>

</div>