<div class="row">
    <h1>Proyectoss realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 Proy1Part1">
            <h3>Libreta de Contactos</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum placeat unde consequuntur beatae cumque incidunt facere recusandae odio, quo amet, iusto porro nulla, dicta blanditiis cupiditate cum dolor suscipit labore!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 Proy1Part2">
            <a href="https://app-contact-book.herokuapp.com/">
                <img src="../../../assets/img/proyects/contactBook.png" class="img-fluid img-proyecto1">
            </a>
        </div>
    </div>
</div>