section{
    background-image: url('../../../assets/img/banner/futuristic-banner-background-with-wireframe-terrain-vector.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #464646;
}