<div class="row text-center pt-5">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark text-white" routerLink="/nuevaEducacion" *ngIf="isLogged">
            Agregar nueva Educacion <img src="../../../assets/img/icons/add-file.png" height="50" width="50">
        </button>
    </div>
    <div class="col-lg-2 col-md-1 col-sm-1 col-xs-12"></div>
    <div class="col-lg-10 col-md-11 col-sm-11 col-xs-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2><strong>{{Educacion.nombreE}}</strong></h2>
                    </td>
                    <td class="pt-3">{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark text-white" routerLink="/editarEducacion/{{Educacion.id}}">
                            Editar <img src="../../../assets/img/icons/editar.png" height="50" width="50">
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger text-white" (click)="delete(Educacion.id)">
                            Eliminar <img src="../../../assets/img/icons/basura.png" height="50" width="50">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>