<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <ul class="list-group">
            <li><h1>primario</h1> - <h3>(years)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officiis vitae, libero saepe
                voluptatibus pariatur rerum, dolores ipsa optio repellendus porro numquam, ratione laudantium tempore
                incidunt blanditiis fuga fugiat molestias!
            </p>
            <li><h1>secundario</h1> - <h3>(years)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officiis vitae, libero saepe
                voluptatibus pariatur rerum, dolores ipsa optio repellendus porro numquam, ratione laudantium tempore
                incidunt blanditiis fuga fugiat molestias!
            </p>
            <li><h1>terciario</h1> - <h3>(years)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officiis vitae, libero saepe
                voluptatibus pariatur rerum, dolores ipsa optio repellendus porro numquam, ratione laudantium tempore
                incidunt blanditiis fuga fugiat molestias!
            </p>
        </ul>
    </div>
</div>
